################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SkypeForBusiness-Auto-Replies/obj
/SkypeForBusiness-Auto-Replies/bin/Debug/netcoreapp3.1
/SkypeForBusiness-Auto-Replies/.vs/SkypeForBusiness-Auto-Replies/v16
/.vs
